<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN desktop-toggler -->

			<!-- BEGIN desktop-toggler -->
			
			<!-- BEGIN mobile-toggler -->
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- END mobile-toggler -->
			
			<!-- BEGIN brand -->
			<div class="brand">
				<a href="/index.html" class="brand-logo">
					<img alt="" height="32" width="108" src="assets/img/cover/ductilebeardevelopment.png">
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			<div class="menu">

				<div class="menu-item dropdown dropdown-mobile-full">
					<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
						<button type="button" class="menu-toggler"data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app" >
							<span class="bar"></span>
							<span class="bar"></span>
							<span class="bar"></span>
						</button>
					</a>
					<div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
						<a class="dropdown-item d-flex align-items-center" href="/page_login.html">LOGIN<i class="bi bi-person-circle ms-auto text-primary fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="/page_blog.html">BLOG<i class="bi bi-newspaper ms-auto text-primary fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="/page_services.html">SERVICES <i class="bi bi-wrench ms-auto text-primary fs-16px my-n1"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="/page_about.html">ABOUT <i class="bi bi-book ms-auto text-primary fs-16px my-n1"></i></a>
					</div>
				</div>
			</div>
			<!-- END menu -->
			
		</div>
		<!-- END #header -->